main {
  text-align: center;
  margin-top: 5rem;
}

.space {
  color: #fff;
  font-family: 'Bellefair', serif;
  font-size: 5rem;
  line-height: 100px;
  margin: .5rem 0 1rem;
}

.explore {
  width: 150px;
  height: 150px;
  color: #0B0D17;
  background-color: #fff;
  border-radius: 50%;
  font-family: 'Bellefair', serif;
  font-size: 20px;
  margin: 6.5rem auto auto auto;
  text-align: center;
  line-height: 150px;
  letter-spacing: 1.25px;
  font-weight: 400px;
}

@media (min-width: 768px) {
  .space {
    font-size: 150px !important;
    line-height: 150px !important;
  }

  .home__text {
    width: 444px !important;
    margin: auto;
  }

  .explore {
    width: 242px;
    height: 242px;
    line-height: 242px;
    font-size: 2rem;
    margin-top: 15rem;
  }

  .travel {
    text-align: center !important;
  }
}

@media (min-width: 1440px) {
  .home__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70% !important;
    margin: auto;
  }

  .home__content main {
    text-align: left;
  }

  .travel {
    text-align: left !important;
    letter-spacing: 4.72px !important;
    font-size: 28px;
  }

  .space {
    margin-top: 2rem !important;
  }

  .home__text {
    text-align: left;
    font-size: 18px;
    line-height: 32px;
  }

  .explore {
    width: 274px;
    height: 274px;
    line-height: 274px;
    font-size: 2rem;
    margin: 0;
    align-self: flex-end;
  }

  .explore:hover {
    cursor: pointer;
    box-shadow: 0 0 0 5rem rgba(255, 255, 255, 0.1);
  }
}